* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    height: 100vh;
} 

header {
    background-color: #f3a725;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.empty-div {
    width: 5rem;
}

#logo {
    height: 5rem;
    width: 8rem;
}

.main-heading {
    color: purple;
    padding-top: 1rem;
}

footer {
    background-color: #f3a725;
    display: flex;
    justify-content: space-around;
    /* height: 18%; */
}

.footer-items {
    padding: 2.5rem;
}

.footer-items__1 {
    padding-top: 10px;
}

.list-items {
    list-style: none;
    color: black;
}
