* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #f3a725;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.empty-div {
    width: 5rem;
}

#logo {
    height: 5rem;
    width: 8rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black; 
    margin-top: 1rem;
}

.main-heading {
    color: purple;
    margin-top: 2rem;
}

.login {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    width: 7rem;
    background-color: #f3a725;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;    
    font-weight: bold;
    color: purple;
}

.login:hover {
    background-color: aqua;
}

.main-div {
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-intro {
    font-size: 2.5rem;
    padding-top: 7rem;
    color: rgb(181, 62, 236);
}

.para-intro {
    font-size: 1.5rem;
    padding-top: 3rem;
}

.main-image {
    margin-top: 1rem;
    margin-left: 8rem;
}

#second-intro {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

.images-logos {
    height: 15rem;
    width: 15rem;
    padding-left: 1.2rem;
}

.box {
    margin-top: 3rem;
    transition: all 1s;
}

.box:hover {
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);  
}

.part-intro {
    text-align: center;
    font-size: 1.4rem;
    color: purple;
}

.para-introduction {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.third-main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    background-color: lightskyblue;
}

.subscribe-title {
    font-size: 2rem;
    padding-bottom: 1.1rem;
}

.title-info {
    padding-bottom: 2rem;
    color: black;
}

.input-type {
    height: 50px;
    width: 500px;
    border-radius: 5px;
    border: none;
}

::placeholder {
    font-size: 1.3rem;
    text-align: center;
}

.subs-button {
    height: 50px;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 0 2rem;
    font-size: 1rem;
}

footer {
    background-color: #f3a725;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
}

.text-heading {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 3rem 0;
}

.links {
    color: black;
    padding-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links:hover {
    color: white;
    cursor: pointer;
}

.lnkd-logo {
    height: 3rem;
    margin-left: 1rem;
}

.copy-line {
    color: black;
    text-align: center;
    margin-top: 2rem; 
    padding-bottom: 2rem;
}

.location-logo {
    height: 1.8rem;
}

.lctn-logo {
    display: flex;
    justify-content: space-between;
}

.tele {
    margin-right: 5rem;
}

.tele1 {
    margin-right: 1rem;
}
