* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    height: 100vh;
} 

header {
    background-color: #f3a725;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.empty-div {
    width: 5rem;
    height: 8rem;
}

#logo {
    height: 5rem;
    width: 8rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black; 
    margin-top: 1rem;
}

.main-heading {
    color: purple;
    padding-top: 2rem;
}

main {
    background-color: whitesmoke;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.main-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: grey;
}

.form-inputs {
    width: 70%;
    height: 3.5rem;
    margin: 1rem 0;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background: white;
}

::placeholder {
    color: grey;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.form-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    width: 7rem;
    background-color: #f3a725;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;    
    font-weight: bold;
}

.form-button:hover {
    background-color: aqua;
}

footer {
    background-color: #f3a725;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
}

.text-heading {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 3rem 0;
}

.links {
    color: black;
    padding-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links:hover {
    color: white;
    cursor: pointer;
}

.lnkd-logo {
    height: 3rem;
    margin-left: 1rem;
}

.copy-line {
    color: black;
    text-align: center;
    margin-top: 2rem; 
    padding-bottom: 2rem;
}

.location-logo {
    height: 1.8rem;
}

.lctn-logo {
    display: flex;
    justify-content: space-between;
}

.tele {
    margin-right: 5rem;
}

.tele1 {
    margin-right: 1rem;
}

